<div id="toggle" class="container">
  <h1>Your feedback means a lot to us, please take your time and complete the following surveys!</h1><hr>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <h2>Product Feedback!</h2><hr>
  <button type="button" id="button1" class="btn btn-danger">Toggle Survey</button>
  <table id="one" class="table table-bordered">
    <thead>
      <tr>
        <th class="categorie">Product</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Give a score to your recent purchase!</td>
        <td><div class="form-check form-check-inline ">
          <input class="form-check-input checkbox1" type="radio" id="inlineCheckbox1" value="option1" name="radio1">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input checkbox1" type="radio" id="inlineCheckbox1" value="option2" name="radio1">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input checkbox1" type="radio" id="inlineCheckbox1" value="option3" name="radio1">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input checkbox1" type="radio" id="inlineCheckbox1" value="option4" name="radio1">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input checkbox1" type="radio" id="inlineCheckbox1" value="option5" name="radio1">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
        </div></td>
      </tr>
      <tr>
        <td>How much do u like the product's brand?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio2">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio2">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio2">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio2">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio2">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
          </td>
      <tr>
        <td>Would you buy again any items of this brand?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio3">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio3">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio3">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio3">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio3">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
      <tr>
        <td>Is the product in a good shape?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio10">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio10">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio10">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio10">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio10">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
      <tr>
        <td>The product's guide manual is easy to understand?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio11">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio11">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio11">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio11">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio11">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
      <tr>
        <td>What score would you give to the product's material?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio12">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio12">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio12">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio12">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio12">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
    </tbody>
  </table><hr>
  <h2>Shop Review</h2><hr>
  <button type="button" id="button2" class="btn btn-danger">Toggle Survey</button>
  <table id="two" class="table table-bordered">
    <thead>
      <tr>
        <th class="categorie">Shop</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rate our shop.</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio4">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio4">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio4">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio4">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio4">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
        </div></td>
      </tr>
      <tr>
        <td>Rate the cleanliness.</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio5">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio5">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio5">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio5">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio5">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
          </td>
      <tr>
        <td>Rate the products management on the shelves.</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio6">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio6">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio6">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio6">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio6">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
      <tr>
        <td>Is the shop clean enough?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio13">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio13">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio13">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio13">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio13">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
      <tr>
        <td>Is it easy to find what you are looking for inside the shop?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio14">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio14">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio14">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio14">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio14">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
      <tr>
        <td>Rate the color management of the shop.</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio15">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio15">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio15">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio15">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio15">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
    </tbody>
  </table><hr>
  <h2>Employee experience</h2><hr>
  <button type="button" id="button3" class="btn btn-danger">Toggle Survey</button>
  <table id="three" class="table table-bordered">
    <thead>
      <tr>
        <th class="categorie">Employee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Rate our employee skill.</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio7" required>
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio7">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio7">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio7">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio7">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
        </div></td>
      </tr>
      <tr>
        <td>It was difficult to talk to our employee?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio8">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio8">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio8">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio8">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio8">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
          </td>
      <tr>
        <td>Do you think he has to develop himself?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio9">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio9">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio9">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio9">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio9">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
      <tr>
        <td>He was rude?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio16">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio16">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio16">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio16">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio16">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
      <tr>
        <td>He was presentable?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio17">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio17">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio17">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio17">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio17">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
      <tr>
        <td>Would you ask him for help again?</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="radio18">
          <label class="form-check-label" for="inlineCheckbox1">1</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option2" name="radio18">
          <label class="form-check-label" for="inlineCheckbox1">2</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option3" name="radio18">
          <label class="form-check-label" for="inlineCheckbox1">3</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option4" name="radio18">
          <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option5" name="radio18">
          <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
      </tr>
    </tbody>
  </table><hr>
  <a routerLink="/home" class="btn btn-danger cancel">Cancel</a>
  <button type="submit" class="btn btn-Primary save">Submit</button>
  </form>
  </div><hr>
  <footer>
  <a href="mailto:bucur37@gmail.com" class="btn btn-primary contact" style="text-decoration: none;">Contact me!</a>

  </footer>


