h1 {
  font-family: cursive;
  text-shadow: crimson;
}
h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2:hover {
  color: blueviolet;
}
button {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact {
  margin-bottom: 30px;
  margin-left: 80%;
}
.save {
  margin-left: 5px;
}
