<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand titlu" routerLink="/home">SurveyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link buton-home" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link buton-survey" routerLink="/survey" class="btn btn-danger">Survey</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


