.titlu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
}
.buton-home {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buton-survey {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
