<div class="jumbotron home">
  <h1>Welcome to the SurveyApp</h1>
  <p>Here is a short list of active surveys.</p>
    <ul>
      <li><a routerLink="/survey" style="text-decoration: none;">Product Feedback.</a></li>
      <li><a routerLink="/survey" style="text-decoration: none;">Shop Review</a></li>
      <li><a routerLink="/survey" id="bottom" style="text-decoration: none;">Employee Experience</a></li>
    </ul>
</div>
