h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
li {
  list-style-type: georgian;
  font-size: 30px;

}
a:hover {
  color:blueviolet;
}
a{
  color: #dc3545;
  text-align: center;
}
.home {
  width: 550px;
  margin: 0 auto;
  margin-top: 70px;
}
p {
  text-align: center;
}

